  <!DOCTYPE html>
  <html>
  <head>
  	<title></title>
  </head>
  <body>

  <h1>Students App</h1>

  <p>Here's a List of All the Students in Class Reversed</p>
  <% for (var i = 0; i < theStudents.length; i++) { %>
  		<div><%= theStudents[i].name %></div>
  	<% } %>
  
  </body>
  </html>