  <!DOCTYPE html>
  <html>
  <head>
  	<title></title>
  </head>
  <body>

  <h1>Students App</h1>

  <p>Here's a List of All the Students in Class</p>
  <% for (var i = 0; i < theStudents.length; i++) { %>
  		<% if(whoToHighlight == i){ %>
  		<div><b><%= theStudents[i].name %></b></div>
  		<% }else{ %>
  		<div><%= theStudents[i].name %></div>
  		<% } %>
  <% } %>
  
  </body>
  </html>
